pHeader{
    text-align: justify;
}
p{
    font-size: 20px;
    font-family: Arial;
}

#azul{
    color:blue
}

#negrito {
    font-weight:bold;
    color:orange
}

#italico{
    font-style: italic;
    color:green
}

#sublinhado{
    text-decoration: underline;
    color:red
}

pre{
    font-size: 5px;
    font-family: Arial;
    color:magenta
}